.footerLink{
  text-align: end !important;
  justify-content: end;
}

.margin-container{
  margin-left: 3% !important;
  margin-right: 3% !important;
}
.slidername{
  margin: 5%;
}


.item {
 height: fit-content;
}
.image-shops{
  background-position: center !important;
}

.owl-carousel {
  display: flex;
  align-items: center !important;
  margin: 4.0%;
}
.item {
  height: 10rem;
  background: #4dc7a0;
  padding: 1rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 }