@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
  font-family: "Gopher-black";
  src: url('../font/Gopher-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gopher-black";
  src: url('../font/Gopher-Regular.eot');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Gopher-black;
}
.home{
  background: linear-gradient(110deg, #F6F6F6 60%, #305349 60%);

}
.img-position{
  top: 298px;
  color: transparent;
  z-index: 1;
}
.images-client{
  z-index: 1;
}
.image-man{
    z-index: 1;
   top: 106px;
  left: 245px; 
}
.email{
  margin: 0 130px;
}