.star-1 {
  position: relative;
  left: 113%;
}
.star-2 {
  position: relative;
  left: 120%;
}
.circle {
  position: relative;
  left: 120%;
}
.section{
  margin-top: 5%;
  margin-bottom: 5%
}

.box-homepage {
  position: absolute;
  left: 66%;
  top: 74%;
}
.icon-bar {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  z-index: 100;
}
.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 20px;
}
.whatsapp-img{
  height: 35px;
  width: 35px;
}
.image-aboutus{
  width: 50%;
}

.team-heading {
  margin-top: 5% !important;
  margin-bottom: 5%;
}

.images-color {
  background-color: #20313B;
}

.image-homepage {
  height: 689px;
  width: 450px;
}

@media screen and (max-device-width: 700px) {
  .star-1 {
    display: none;
  }

  .star-2 {
    display: none;
  }

  .homepage-image {
    display: none;
  }
}