.bg-team{
  /* background-color: #FCE074 !important; 
  */
  background: linear-gradient(180deg, #FCE074 60%, #F6F6F6 60%);

}

@media screen and (max-device-width: 630px) {
  .bg-team{
    background-color: #FCE074 !important;
  }
  .text-padding{
    padding-left: auto;
    padding-right: auto;
  }
  .about-image{
    display: none;
  }
  
}
@media screen and (max-device-width: 480px) {
  .homepage-text{
    font-size: 2.5rem !important;
  }
  
  
}
@media screen and (max-device-width: 1024px) {
  .about-image{
    display: none;
  }
  .about-us2{
    position: relative;
    left:0%;
    height: 65% !important;
    z-index: 1 !important;
}
work-heading {
  margin-top: 146px;
}
  
}
