.bgclr{
    background-color: #305348 !important;
    /* background: linear-gradient(180deg, #F6F6F6 60%, #305349 60%); */
}
.about-us-color{
    background: linear-gradient(180deg, #F6F6F6 40%, #305349 40%); 

}
.about-image{
    /* height: 790px !important;
    width: 76% !important;
    z-index: 999; */
    width: 34%;
    height: 600px;
    z-index: 1;
}
.about-us2{
    position: relative;
    left: 33%;
    z-index: 1 !important;
}
.work-position{
    position: relative;
    /* margin-bottom: 10% !important; */
    margin-top: -19%;
}
.work-heading{
    margin-top: 120px;
}
/*  */
.light-green{
    background-color: #365B51 !important
}